<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('https://www.w3schools.com/css/img_forest.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
.w3-jumbo {
    font-size: 48px;
  }

</style>
</head>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large">
	<img src="Original.webp" alt="Logo" style="width:150px;height:100px;">
  </div>

  <div class="w3-display-middle">
	<h1 class="w3-large w3-animate-top">Shipping Price Prediction</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
        <form action="{{ url_for('predict')}}"method="post">
		<label for="Artist Reputation">Artist Reputation:</label>
		<input type="number" name="Artist Reputation" step="0.01" required="required" /><br>

		<label for="Height">Height:</label>
		<input type="number" name="Height" required="required" /><br>

		<label for="Width">Width:</label>
		<input type="number" name="Width" required="required" /><br>

		<label for="Weight">Weight:</label>
		<input type="number" name="Weight" required="required" /><br>

		<label for="Price Of Sculpture">Price Of Sculpture:</label>
		<input type="number" name="Price Of Sculpture" step="0.01" required="required" /><br>

		<label for="Base Shipping Price">Base Shipping Price:</label>
		<input type="number" name="Base Shipping Price" step="0.01" required="required" /><br>

		
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>
   {{ prediction_text }}
  </div>
  <div class="w3-display-bottomleft w3-padding-large">
    Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">Mahyar Arani</a>
  </div>
</div>

</body>
</html>