<!DOCTYPE html>
<html>
<head>
<title>ML API</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('/w3images/forestbridge.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
</head>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    <img src="Original.webp" style="width: 400px;position: absolute;bottom: 10px;left: 10px;" alt="Company Logo"/>
  </div>
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">Predict Shipping Price</h1>
    <form action="{{ url_for('predict')}}"method="post">
		<input type="text" name="Price Of Sculpture" placeholder="Price" required="required" />
        <input type="text" name="State" placeholder="State" required="required" />
		<input type="text" name="Artist Reputation" placeholder="Artist Reputation" required="required" />
		<input type="text" name="Base Shipping Price" placeholder="Base Shipping Price" required="required" />
		<input type="text" name="Weight" placeholder="Weight" required="required" />		
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>
   <br>
   <br>
   {{ prediction_text }}
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-large w3-center"></p>
  </div>

</div>

</body>
</html>
